* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family:'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: var(--LanguidLavender);
	background-color: var(--Charade);
}

h1{
	font-size:2em;
	margin:0.67em 0
}
h2{
	font-size:1.5em;
	margin:0.83em 0
}
h3{
	font-size:1.17em;
	margin:1em 0
}
h4{
	font-size:1em;
	margin:1.33em 0
}
h5{
	font-size:0.83em;
	margin:1.67em 0
}
h6{
	font-size:0.75em;
	margin:2.33em 0
}
h1,h2,h3 {
	line-height: 1em;
	color: var(--SentimentalPink);
}
h4,h5 {
	line-height: 1em;
}
h3,h4,h5 {
	color: var(--Spangle);
}
h6 {
	line-height: 1em;
	color: var(--LanguidLavender);
}
ul {
	padding-left: 3em;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.highlight table td{
	padding:5px;
}
.highlight table pre{
	margin:0;
}
p,ul,ol,table,pre,dl{
	margin:0 0 20px;
}
table{
	width:70vh;
	border-collapse:collapse;
}
th{
	text-align:left;
	padding:5px 10px;
	border-bottom:1px solid var(--Arsenic);
	color:var(--Wolfram);
	font-family:'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight:bold;
}
td{
	text-align:left;
	padding:5px 10px;
	border-bottom:1px solid var(--Arsenic);
}

a {
	text-decoration: none;
	color: var(--Spangle);
	transition: 0.6s;
}

a:hover {
	color: var(--SentimentalPink);
}

summary {
	cursor: pointer;
	color: var(--Spangle);
}
summary:hover {
	cursor: pointer;
	color: var(--SentimentalPink);
}

blockquote {
	border-left: 4px solid var(--Bouquet);
	margin-left: 10px;
}

code {
	font-family: monospace;
	color: var(--Bouquet);
	font-size: 1.15em;
}

details {
	max-width: 850px;
	min-width: 350px;
	margin: 4px;
}

pre {
	padding: 8px 15px;
	background: var(--ThamarBlack);
	border: 1px solid var(--Black);
	overflow: auto;
	overflow-y: hidden;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin180 { 0% { -moz-transform: rotate(0); } 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin180 { 0% { -webkit-transform: rotate(0); } 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin180 { 0% { transform: rotate(0); } 100% { transform: rotate(180deg); } }

.menuPopupContainer {
	position: absolute;
	top: 75px;
	right: 35px;
	padding: 0px;
	margin: 0px;
	display: flex;
	z-index: 2;
}

.menuPopup {
	margin: auto;
	width: fit-content;
	height: fit-content;
	background-color: var(--ShipGrey);
	border: 1px solid var(--Black);
	border-radius: 20px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.f {display:flex}
.fr {flex-direction:row}
.fc {flex-direction:column}
.fals {align-items:flex-start}
.fale {align-items:flex-end}
.falc {align-items:center}
.fjs {justify-content:flex-start}
.fje {justify-content:flex-end}
.fjc {justify-content:center}
.ml2 {margin-left:2px}
.mr2 {margin-right:2px}
.mb2 {margin:0 2px}
.w100 {width:100%}
.p5 {padding:5px}

input[type="input"] {
	width: 80%;
	background-color: var(--DarkGunmetal);
	color: var(--LanguidLavender);
	padding: 3px;
	font-size: 0.9em;
	border: 1px solid currentColor;
	border-radius: 6px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 80%;
	height: 10px;
	border: 1px solid var(--Boulder);
	border-radius: 5px;
	background: var(--ChineseBlack);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--SentimentalPink);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--SentimentalPink);
	cursor: pointer;
}

input[type="button"] {
	width: 80%;
	background-color: var(--ChineseBlack);
	color: var(--LanguidLavender);
	padding: 3px;
	font-size: 0.9em;
	border: 1px solid currentColor;
	border-radius: 6px;
}

input[type="number"] {
	width: 80%;
	background-color: var(--ChineseBlack);
	color: var(--LanguidLavender);
	padding: 3px;
	border: 1px solid var(--Boulder);
	border-radius: 6px;
}

input[type="text"],input[type="text"].focus {
	width: 80%;
	background-color: var(--ChineseBlack);
	color: var(--LanguidLavender);
	padding: 3px;
	border: 1px solid var(--Boulder);
	border-radius: 6px;
}

select {
	width: 80%;
	background: var(--ChineseBlack);
	color: currentColor;
	height: 25px;
	border: 1px solid var(--Boulder);
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

input[type="button"]:hover {
	background-color: var(--RiverStyx);
}

input[type="button"]:focus {
	background-color: var(--Woodsmoke);
}

.redButton input[type="button"] {
	color: var(--CarminePink);
	background-color: var(--VampireBlack);
}

.redButton input[type="button"]:hover {
	background-color: var(--Licorice);
}

.redButton input[type="button"]:focus {
	background-color: var(--RavensCoat);
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--Shark);
	margin: 4px;
	font: inherit;
	color: currentColor;
	width: 1.6em;
	height: 1.6em;
	border: 0.1em solid currentColor;
	border-radius: 0.3em;
	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 1.6em;
	height: 1.6em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 2em 2em currentColor;
	transform-origin: center;
	/* Windows High Contrast Mode */
	background-color: CanvasText;
	
	clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
}

input[type="checkbox"]:checked {
	background-color: var(--RedOxide);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.cblabel {
	line-height: 1.1;
	text-align: left;
	width: 100%;
}

.settingsContainer,.updateContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
	position: absolute;
	padding: 4px;
	top: 10px;
	right: 10px;
	width: max-content;
	height: max-content;
}
.updateContainer {
	flex-direction: row;
	top: 12px;
	left: 10px;
}

.setting,.update {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 100%;
	overflow: hidden;
	min-width: 48px;
	min-height: 48px;
}
.update {
	min-width: 44px;
	min-height: 44px;
}

.setting svg {
	fill: var(--LanguidLavender);
	stroke: var(--Black);
}

.update svg {
	fill: var(--AlienArmpit);
	-webkit-animation: spin180 1200ms ease-out infinite;
	-moz-animation: spin180 1200ms ease-out infinite;
	animation: spin180 1200ms ease-out infinite;
}

.setting:hover {
	background-color: var(--ShipGrey);
	transition: background-color 0.5s ease;
	-webkit-animation: spin 10s linear infinite;
	-moz-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	cursor: pointer;
}

.updateContainer:hover div {
	background-color: var(--ShipGrey);
	transition: background-color 0.5s ease;
	cursor: pointer;
}
.updateContainer:hover label {
	transition: color 0.5s ease;
	color: var(--AlienArmpit);
}

.tabsContainer {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	padding-top: 70px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 1192px;
	min-width: 612px;
	width: 90%;
	font-size: 0.97em;
	margin: auto;
}

.tabsRadio {
	width: 0;
	height: 0;
	opacity: 0;
}

.tabsLabel {
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 2px ridge var(--Black);
	border-radius: 5px;
	background-color: var(--DarkGunmetal);
	font-size: 1.4em;
	margin: 1px 1px 2px 1px;
}

.tabsLabel:hover {
	background-color: var(--Gunmetal);
}

.tabsContent {
	order: 1;
	width: 100%;
	display: none;
	background-color: var(--DarkGunmetal);
	padding: 12px 20px 0 20px;
	margin-bottom: 20px;
	border-radius: 0 5px 5px 5px;
}

.tabsRadio:checked+.tabsLabel {
	color: var(--CrystalBell);
	background-color: var(--Gunpowder);
	border-bottom: 2px ridge var(--Eagle);
}

.tabsRadio:focus+.tabsLabel {
	color: var(--DrWhite);
	background-color: var(--Gunpowder);
}
.tabsRadio:checked+.tabsLabel+.tabsContent {
	display: initial;
}
.tabs code {
	font-size: 1.1em;
}

.formsWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,280px);
	column-gap: 10px;
	row-gap: 10px;
	font-size: 0.875rem;
}

.formsCampaign {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--Gunmetal);
	flex-grow: 1;
	margin-bottom: 15px;
}

.formsCampaignTitle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2px 2px 4px 8px;
	line-height: 1.4;
}

.formsCampaignFormation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1px;
	font-size: 0.9em;
	position: relative;
}

.formsCampaignSelect {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 1;
}
.formsCampaignSelect input[type="button"] {
	width: 45%;
	margin: 10px 5px 5px 5px;
}

.formsCampaignFormation:hover .tooltipContents {
	visibility: visible;
}
.tooltipContents {
	visibility: hidden;
	padding: 25px;
	border-radius: 5px;
	background-color: var(--Sooty);
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	left: 0px;
	bottom: 0px;
	transform: translate(0px, -40px);
	color: var(--Eggshell);
	pointer-events: none;
	font-size: 1.1em;
}
.tooltipContents svg {
	margin-top: 10px;
}

.featsChampionList {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1px;
	font-size: 0.9em;
	position: relative;
}

.featsChampionList input[type="checkbox"]:checked {
	background-color: var(--HunterGreen);
}

.greenButton input[type="button"] {
	color: var(--ToxicGreen);
	background-color: var(--MidnightMoss);
}

.greenButton input[type="button"]:hover {
	background-color: var(--GordonsGreen);
}

.greenButton input[type="button"]:focus {
	background-color: var(--Marshland);
}

.greenCheckbox input[type="checkbox"]:checked {
	background-color: var(--HunterGreen);
}

.partiesWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,375px);
	column-gap: 10px;
	row-gap: 10px;
	font-size: 0.875rem;
}
.partiesLeft {
	width: 25%;
	margin-right:5px;
}
.partiesRight {
	width: 75%;
	margin-left: 5px;
	text-wrap-style: pretty;
}

.bscMethodGrid {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: max-content max-content;
	column-gap: 10px;
	row-gap: 15px;
	width: 90%;
	text-wrap-style: pretty;
	padding: 20px;
	font-size: 0.9em;
}

.greyButton input[type="button"] {
	color: var(--Emperor);
	background-color: var(--MidnightMoss);
}

.eventTiersWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,110px 120px);
	column-gap: 10px;
	row-gap: 4px;
	font-size: 0.875rem;
}
.eventGridHeader {
	font-size: 1.4em;
	grid-column: 1/-1;
	padding: 30px 0 5px 0;
}
.eventGridName,.eventGridTier {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.eventGridTier {
	justify-content: flex-start;
}
.svgEventTier0 {
	fill: none;
	color: var(--Black);
	filter: drop-shadow(0px 0px 2px);
}
.svgEventTier1 {
	fill: var(--WhitecapFoam);
	color: var(--WhitecapFoam);
	filter: drop-shadow(0px 0px 2px);
}
.svgEventTier2 {
	fill: var(--AlienArmpit);
	color: var(--AlienArmpit);
	filter: drop-shadow(0px 0px 2px);
}
.svgEventTier3 {
	fill: var(--UltramarineBlue);
	color: var(--UltramarineBlue);
	filter: drop-shadow(0px 0px 2px);
}
.svgEventTier4 {
	fill: var(--Violet);
	color: var(--Violet);
	filter: drop-shadow(0px 0px 2px);
}
.svgEventTier5 {
	fill: var(--Saffron);
	color: var(--Saffron);
	filter: drop-shadow(0px 0px 2px);
}
.eventTiersTooltipsHolder {
	position: relative;
}
.eventTiersTooltipsHolder:hover .eventTiersTooltips {
	visibility: visible;
}
.eventTiersTooltips {
	visibility: hidden;
	position: absolute;
	left: 0px;
	bottom: 40px;
	background-color: var(--Sooty);
	border-radius: 5px;
	padding: 10px 20px 20px 20px;
	pointer-events: none;
	width: max-content;
	z-index: 1;
	font-size: 1.1em;
	
	display: grid;
	grid-template-columns: 75px 40px 50px;
	column-gap: 5px;
	row-gap: 4px;
}