* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family:'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: var(--light1);
	background-color: hsl(var(--dark1hue),var(--dark1sat),calc(var(--dark1lig)*0.8));
}

h1{
    font-size:2em;
    margin:0.67em 0
}
h2{
    font-size:1.5em;
    margin:0.83em 0
}
h3{
    font-size:1.17em;
    margin:1em 0
}
h4{
    font-size:1em;
    margin:1.33em 0
}
h5{
    font-size:0.83em;
    margin:1.67em 0
}
h6{
    font-size:0.75em;
    margin:2.33em 0
}
h1,h2,h3 {
	line-height: 1em;
	color: var(--light3);
}
h4,h5 {
	line-height: 1em;
}
h3,h4,h5 {
	color: var(--light2);
}
h6 {
	line-height: 1em;
	color: var(--light1);
}
ul {
	padding-left: 3em;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
.highlight table td{
    padding:5px;
}
.highlight table pre{
    margin:0;
}
p,ul,ol,table,pre,dl{
    margin:0 0 20px;
}
table{
    width:70vh;
    border-collapse:collapse;
}
th{
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #434343;
    color:#b6b6b6;
    font-family:'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight:bold;
}
td{
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #434343;
}

a {
	text-decoration: none;
	color: var(--light2);
	transition: 0.6s;
}

a:hover {
	color: var(--light3);
}

summary {
	cursor: pointer;
	color: var(--light2);
}
summary:hover {
	cursor: pointer;
	color: var(--light3);
}

blockquote {
	border-left: 4px solid var(--mid1);
	margin-left: 10px;
}

code {
	font-family: monospace;
	color: var(--mid1);
	font-size: 1.15em;
}

details {
	max-width: 850px;
	min-width: 350px;
	margin: 4px;
}

pre {
	padding: 8px 15px;
	background: #191919;
	border: 1px solid black;
	overflow: auto;
	overflow-y: hidden;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.menuPopupContainer {
	position: absolute;
	top: 75px;
	right: 35px;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.menuPopup {
	margin: auto;
	width: fit-content;
	height: fit-content;
	background-color: var(--highlightDark1);
	border: 1px solid black;
	border-radius: 20px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.f {display:flex}
.fr {flex-direction:row}
.fc {flex-direction:column}
.fals {align-items:flex-start}
.fale {align-items:flex-end}
.falc {align-items:center}
.fjs {justify-content:flex-start}
.fje {justify-content:flex-end}
.fjc {justify-content:center}
.ml2 {margin-left:2px}
.mr2 {margin-right:2px}
.mb2 {margin:0 2px}
.w100 {width:100%}
.p5 {padding:5px}

input[type="input"] {
	width: 80%;
	background-color: var(--dark1);
	color: var(--light1);
	padding: 3px;
	font-size: 0.9em;
	border: 1px solid currentColor;
	border-radius: 6px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 80%;
	height: 10px;
	border: 1px solid var(--Boulder);
	border-radius: 5px;
	background: var(--dark4);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--light3);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--light3);
	cursor: pointer;
}

input[type="button"] {
	width: 80%;
	background-color: var(--dark4);
	color: var(--light1);
	padding: 3px;
	font-size: 0.9em;
	border: 1px solid currentColor;
	border-radius: 6px;
}

input[type="number"] {
	width: 80%;
	background-color: var(--dark4);
	color: var(--light1);
	padding: 3px;
	border: 1px solid var(--Boulder);
	border-radius: 6px;
}

select {
	width: 80%;
	background: var(--dark4);
	color: currentColor;
	height: 25px;
	border: 1px solid var(--Boulder);
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

input[type="button"]:hover {
	background-color: hsl(var(--dark4hue),var(--dark4sat),calc(var(--dark4lig)*var(--lighten)));
}

input[type="button"]:focus {
	background-color: hsl(var(--dark4hue),var(--dark4sat),calc(var(--dark4lig)*var(--darken)));
}

.redButton input[type="button"] {
	color: var(--warning1);
	background-color: var(--warning2);
}

.redButton input[type="button"]:hover {
	background-color: hsl(var(--warning2hue),var(--warning2sat),calc(var(--warning2lig)*var(--lighten)*var(--lighten)));
}

.redButton input[type="button"]:focus {
	background-color: hsl(var(--warning2hue),var(--warning2sat),calc(var(--warning2lig)*var(--darken)*var(--darken)));
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: hsl(calc(var(--dark1hue)*0.95),var(--dark1sat),calc(var(--dark1lig)*0.9));
	margin: 4px;
	font: inherit;
	color: currentColor;
	width: 1.6em;
	height: 1.6em;
	border: 0.1em solid currentColor;
	border-radius: 0.3em;
	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 1.6em;
	height: 1.6em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 2em 2em currentColor;
	transform-origin: center;
	/* Windows High Contrast Mode */
	background-color: CanvasText;
	
	clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
}

input[type="checkbox"]:checked {
	background-color: hsl(calc(var(--dark1hue)*1.5),calc(var(--dark1sat)*14),calc(var(--dark1lig)*1.4));
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.cblabel {
	line-height: 1.1;
	text-align: left;
	width: 100%;
}

.settingsContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
	position: absolute;
	padding: 4px;
	top: 10px;
	right: 10px;
	width: max-content;
	height: max-content;
}

.setting {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 100%;
	overflow: hidden;
	min-width: 48px;
	min-height: 48px;
}

.setting svg {
	fill: var(--light1);
	stroke: black;
}

.setting:hover {
	background-color: var(--highlightDark1);
	transition: background-color 0.5s ease;
	-webkit-animation:spin 10s linear infinite;
	-moz-animation:spin 10s linear infinite;
	animation:spin 10s linear infinite;
}

.tabsContainer {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	padding-top: 70px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 1192px;
	min-width: 612px;
	width: 90%;
	font-size: 0.97em;
	margin: auto;
}

.tabsRadio {
	width: 0;
	height: 0;
	opacity: 0;
}

.tabsLabel {
	padding: 8px 10px;
	cursor: pointer;
	border-bottom: 2px ridge black;
	border-radius: 5px;
	background-color: var(--dark1);
	font-size: 1.4em;
	margin: 1px 1px 2px 1px;
}

.tabsLabel:hover {
	background-color: hsl(var(--dark1hue),var(--dark1sat),calc(var(--dark1lig)*1.3));
}

.tabsContent {
	order: 1;
	width: 100%;
	display: none;
	background-color: var(--dark1);
	padding: 12px 20px 0 20px;
	margin-bottom: 20px;
	border-radius: 0 5px 5px 5px;
}

.tabsRadio:checked+.tabsLabel {
	color: #efefef;
	background-color: hsl(var(--dark1hue),var(--dark1sat),calc(var(--dark1lig)*1.7));
	border-bottom: 2px ridge #bbbbaa;
}

.tabsRadio:focus+.tabsLabel {
	color: #fafafa;
	background-color: hsl(var(--dark1hue),var(--dark1sat),calc(var(--dark1lig)*1.7));
}
.tabsRadio:checked+.tabsLabel+.tabsContent {
	display: initial;
}
.tabs code {
	font-size: 1.1em;
}

.formsWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,280px);
	column-gap: 10px;
	row-gap: 10px;
	font-size: 0.875rem;
}

.formsCampaign {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px;
	background-color: hsl(calc(var(--dark1hue)*0.95),var(--dark1sat),calc(var(--dark1lig)*1.3));
	flex-grow: 1;
	margin-bottom: 15px;
}

.formsCampaignTitle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2px 2px 4px 8px;
	line-height: 1.4;
}

.formsCampaignFormation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1px;
	font-size: 0.9em;
	position: relative;
}

.formsCampaignSelect {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 1;
}
.formsCampaignSelect input[type="button"] {
	width: 45%;
	margin: 10px 5px 5px 5px;
}

.formsCampaignFormation:hover .tooltipContents {
	visibility: visible;
}
.tooltipContents {
	visibility: hidden;
	padding: 25px;
	border-radius: 5px;
	background-color: hsl(var(--dark1hue),var(--dark1sat),calc(var(--dark1lig)*0.6));
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	position: absolute;
	left: 0px;
	bottom: 0px;
	transform: translate(0px, -40px);
	color: #f0e7d5;
	pointer-events: none;
	font-size: 1.1em;
}
.tooltipContents svg {
	margin-top: 10px;
}

.featsChampionList {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1px;
	font-size: 0.9em;
	position: relative;
}

.featsChampionList input[type="checkbox"]:checked {
	background-color: hsl(calc(var(--dark1hue)*1.95),calc(var(--dark1sat)*14),calc(var(--dark1lig)*0.9));
}

.greenButton input[type="button"] {
	color: var(--good1);
	background-color: var(--good2);
}

.greenButton input[type="button"]:hover {
	background-color: hsl(var(--good2hue),var(--good2sat),calc(var(--good2lig)*var(--lighten)*var(--lighten)));
}

.greenButton input[type="button"]:focus {
	background-color: hsl(var(--good2hue),var(--good2sat),calc(var(--good2lig)*var(--darken)*var(--darken)));
}

.partiesWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill,375px);
	column-gap: 10px;
	row-gap: 10px;
	font-size: 0.875rem;
}
.partiesLeft {
	width: 25%;
	margin-right:5px;
}
.partiesRight {
	width: 75%;
	margin-left: 5px;
	text-wrap-style: pretty;
}

.bscMethodGrid {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: max-content max-content;
	column-gap: 10px;
	row-gap: 15px;
	width: 90%;
	text-wrap-style: pretty;
	padding: 20px;
	font-size: 0.9em;
}